---
import { Footer, Head, Header } from "../components";

export interface Props {
  title: string;
  description: string;
  socialImage?: string;
  socialImageAlt: string;
}

const {
  title: pageTitle,
  description,
  socialImage,
  socialImageAlt,
} = Astro.props;
const { canonicalURL } = Astro.request;
const siteName = canonicalURL.hostname;
const title = `${pageTitle} | ${siteName}`;
---

<html lang="en" class="scroll-smooth">
  <head>
    <Head
      {title}
      {description}
      {canonicalURL}
      {siteName}
      {socialImage}
      {socialImageAlt}
    />
  </head>

  <body
    class="min-h-screen w-screen bg-white flex flex-col text-white selection:bg-purple-700 selection:text-white overflow-x-hidden"
  >
    <div
      class="fixed min-h-screen w-screen bg-retro-img bg-cover bg-center -z-10"
    >
    </div>
    <div class="flex flex-col flex-1 justify-between backdrop-blur-[6px]">
      <Header currentPage={Astro.request.url.pathname} />
      <main class="flex flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
