---
import { Footer, Head, Header } from "../components";
import ScrollToTop from "../components/utils/ScrollToTop.svelte";

export interface Props {
  title: string;
  description: string;
  socialImage?: string;
  socialImageAlt?: string;
  canonicalUrl?: string;
}

const {
  title: pageTitle,
  description,
  socialImage,
  socialImageAlt,
  canonicalUrl,
} = Astro.props;
const canonicalURL = canonicalUrl
  ? new URL(canonicalUrl)
  : Astro.request.canonicalURL;
const siteName = Astro.request.canonicalURL.hostname;
const title = `${pageTitle} | ${siteName}`;
---

<html lang="en" class="scroll-smooth">
  <head>
    <Head
      {title}
      {description}
      {canonicalURL}
      {siteName}
      {socialImage}
      {socialImageAlt}
    />
  </head>

  <body
    class="min-h-screen w-screen bg-white flex flex-col text-white selection:bg-purple-700 selection:text-white overflow-x-hidden"
  >
    <div
      class="fixed min-h-screen w-screen bg-retro-img bg-cover bg-center -z-10"
    >
    </div>
    <div
      class="flex flex-col flex-1 justify-between backdrop-blur-[16px] bg-opacity-60 bg-black"
    >
      <Header currentPage={Astro.request.url.pathname} />
      <main class="flex flex-1">
        <slot />
      </main>
      <Footer />
    </div>
    <ScrollToTop client:load />
  </body>
</html>
